---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import Testimonials from '../components/Testimonials.astro';
import ToolsCarousel from '../components/ToolsCarousel.astro';
import Expertise from '../components/Expertise.astro';
import Methodology from '../components/Methodology.astro';
import Timeline from '../components/Timeline.astro';
import About from '../components/About.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';

---

<Layout>
  <Navigation />

  <main>
    <Hero />

    <Stats />

    <Methodology />

    <ToolsCarousel />

    <Expertise />

    <Testimonials />

    <About />

    <Timeline />

    <Pricing />

    <FAQ />

    <CTA />
  </main>

  <Footer />
</Layout>
