---
interface Props {
  quote: string;
}

const { quote } = Astro.props;
---

<div class="py-12 px-6 bg-white">
  <div class="fluid-prose-xl mx-auto">
    <blockquote class="relative">
      <p class="fluid-text-lg text-zinc-600 font-light leading-relaxed">
        <span class="text-zinc-300 text-2xl font-serif">"</span>
        {quote}
      </p>
    </blockquote>
  </div>
</div>
