---
interface Props {
  quote: string;
}

const { quote } = Astro.props;
---

<div class="py-16 md:py-20 px-6 bg-white">
  <div class="fluid-prose-xl mx-auto">
    <blockquote class="relative">
      <p class="fluid-text-xl text-zinc-700 font-light leading-relaxed italic text-center">
        "{quote}"
      </p>
    </blockquote>
  </div>
</div>
